body {
    cursor: none;
  }
  
  .cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellow;
    position: fixed;
    pointer-events: none;
    z-index: 999;
    transition: width 0.3s, height 0.3s;
  }
  
  .cursor.grow {
    width: 30px;
    height: 30px;
  }
  