

.navbar-brand {
    display: inline-block;
    padding-top: .35rem;
    padding-bottom: .35rem;
    margin-right: 1rem;
    margin-left: 28.7rem;
    font-size: 1.9rem;
    line-height: inherit;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 350;
;
}




